Package: org.tomcool.smframework
Name: SMFramework
Version: 0.5.7-41
Architecture: iphoneos-arm
Description: Framework for most packages written by me
Maintainer: Thomas Cool <thomas.cool@me.com>
Author: Thomas Cool <thomas.cool@me.com>
Section: Development
Installed-Size: 520
