Package: org.tomcool.rootlaunchd
Name: rootlaunchd
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome tool of some sort!!
Maintainer: Thomas Cool
Author: Thomas Cool
Section: System
Tag: role::hacker
